@model AlchemicShop.WEB.Models.UserViewModel

@{
    ViewBag.Title = "Edit User";
}

@using (Html.BeginForm("EditUser", "User", FormMethod.Post, new { id = "editform" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.Login)

        @Html.HiddenFor(model => model.Password)

        <div class="form-group">
            @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EnumDropDownListFor(model => model.Role, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-offset-2 col-md-10">
            <a href="#popup" class="popup-link btn btn-success">Save</a>
            @Html.ActionLink("Back to List", "GetUserList", null, new { @class = "btn btn-primary" })
        </div>

        <div id="popup" class="form-group white-popup mfp-hide text-center">
            <p>
                Are you sure?
            </p>
            <div class="d-flex justify-content-around">
                <input type="submit" value="Yes" class="popup-ok  btn btn-success" />
                <input type="submit" value="No" class="popup-no btn btn-danger" />
            </div>
        </div>
    </div>
}

