@model List<AlchemicShop.WEB.Models.CategoryViewModel>

@{
    ViewBag.Title = "Category List";
}

<h2>Categories</h2>
@if (@HttpContext.Current.User.Identity.Name == "Admin")
{
    <p>
        @Html.ActionLink("Create New", "CreateCategories")
    </p>
}
else
{
    <td></td>
}
<table class="table">
    <tr>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if (@HttpContext.Current.User.Identity.Name == "Admin")
            {
                <td>
                    @Html.ActionLink("Edit", "CategoryEdit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "CategoryDelete", new { id = item.Id })
                </td>
            }
            else
            {
                <td></td>
            }
        </tr>
    }

</table>
