<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>   
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav">
                    <li class="nav-item">
                        <p class="nav-link">@Html.ActionLink("Home", "Index", "Home")</p>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link">@Html.ActionLink("About", "About", "Home")</p>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link">@Html.ActionLink("Product", "GetProductList", "Product")</p>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link">@Html.ActionLink("Category", "GetCategoryList", "Category")</p>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link">@Html.ActionLink("Cart", "GetCart", "ShoppingCart")</p>
                    </li>
                    @if (@HttpContext.Current.User.Identity.Name == "User")
                    {
                        <li class="nav-item">
                            <p class="nav-link">@Html.ActionLink("My orders", "GetUserOrders", "Order")</p>
                        </li>
                    }
                    @if (@HttpContext.Current.User.Identity.Name == "Admin")
                    {
                        <li class="nav-item">
                            <p class="nav-link">@Html.ActionLink("User", "GetUserList", "User")</p>
                        </li>
                        <li class="nav-item">
                            <p class="nav-link">@Html.ActionLink("Order", "GetOrderList", "Order")</p>
                        </li>
                    }
                    @if (@HttpContext.Current.User.Identity.Name != "Admin" &&
                         @HttpContext.Current.User.Identity.Name != "User")
                    {
                        <li> <p class="nav-link">@Html.ActionLink("Log in", "Login", "Account")</p></li>
                        <li> <p class="nav-link">@Html.ActionLink("Create account", "Register", "Account")</p></li>
                    }
                    else
                    {
                        <li><p class="nav-link">@Html.ActionLink("Log out", "Logoff", "Account")</p></li>
                    }
                </ul>
                @RenderBody()
                <hr />
            </div>
            <div class="footer">
                <footer>
                    <p>&copy; @DateTime.Now.Year - AstroDrave Project</p>
                </footer>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>