@model IEnumerable<AlchemicShop.WEB.Models.ProductViewModel>

@{
    ViewBag.Title = "Product List";
}
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            @Html.ActionLink("Amount", "GetProductList", new { sortOrder = ViewBag.SortAmount })
        </th>
        <th>
            @Html.ActionLink("Price", "GetProductList", new { sortOrder = ViewBag.SortPrice })
        </th>
        <th>
            Category
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @if (@HttpContext.Current.User.Identity.Name == "Admin")
    {
        <h4>
            @Html.ActionLink("Create New", "CreateProduct")
        </h4>
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @foreach (var category in ViewBag.Categories)
            {
                if (category.Id == item.CategoryId)
                {
                    <td>
                        @category.Name
                    </td>
                }
            }
            @if (@HttpContext.Current.User.Identity.Name == "Admin")
            {
                <td>
                    @Html.ActionLink("Edit", "ProductEdit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "ProductDelete", new { id = item.Id })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Add to Cart", "AddProduct", "ShoppingCart", new { id = item.Id }, null)
                </td>
            }
        </tr>
    }
</table>