@model IEnumerable<AlchemicShop.WEB.Models.ProductViewModel>

<h2>Cart</h2>
<table class="table">
    <tr>
        <th scope="col">Amount</th>
        <th scope="col">Name</th>
        <th scope="col">Delete</th>
        <th scope="col">Edit</th>
    </tr>

    @if (Model.Count() != 0)
    {
        @Html.ActionLink("Create order", "CreateOrder", "Order")
    }
    @foreach (var item in Model)
    {

        <tr>
            <td>
                @item.Amount
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteCartItem", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCartAmount", new { id = item.Id })
            </td>
        </tr>

        @Html.HiddenFor(x => item.Id)
    }

</table>
