@model AlchemicShop.WEB.Models.OrderViewModel

@using (Html.BeginForm("EditOrder", "Order", FormMethod.Post, new { id = "editform" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserId)


        <div class="form-group">
            @Html.LabelFor(model => model.SheduledDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SheduledDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SheduledDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClosedDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClosedDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ClosedDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-offset-2 col-md-10">
            <a href="#popup" class="popup-link btn btn-success">Save</a>
            @Html.ActionLink("Back to List", "GetOrderList", null, new { @class = "btn btn-primary" })
        </div>

        <div id="popup" class="form-group white-popup mfp-hide text-center">
            <p>
                Are you sure?
            </p>
            <div class="d-flex justify-content-around">
                <input type="submit" value="Yes" class="popup-ok  btn btn-success" />
                <input type="submit" value="No" class="popup-no btn btn-danger" />
            </div>
        </div>
    </div>
}
